<div class="container" >
<div class="tar1 mt-4 col-lg-4 col-md-4">
<div class="card" style="width: 18rem;">
  <img src="/assets/img/poke.jpeg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"> </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
  </ul>
  <img src="/assets/img/dex.jpeg" class="card-img-top">
</div>
</div>

<div class="tar1 mt-4 col-lg-4 col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="/assets/img/poke.jpeg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text"> </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"></li>
      <li class="list-group-item"></li>
      <li class="list-group-item"></li>
    </ul>
    <img src="/assets/img/dex.jpeg" class="card-img-top">
  </div>
  </div>

  <div class="tar1 mt-4 col-lg-4 col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/poke.jpeg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"> </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </ul>
      <img src="/assets/img/dex.jpeg" class="card-img-top">
    </div>
    </div>

    <div class="tar1 mt-4 col-lg-4 col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/poke.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"> </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
        </ul>
        <img src="/assets/img/dex.jpeg" class="card-img-top">
      </div>
      </div>

      <div class="tar1 mt-4 col-lg-4 col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/img/poke.jpeg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"> </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
          </ul>
          <img src="/assets/img/dex.jpeg" class="card-img-top">
        </div>
        </div>

        <div class="tar1 mt-4 col-lg-4 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="/assets/img/poke.jpeg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"> </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"></li>
              <li class="list-group-item"></li>
              <li class="list-group-item"></li>
            </ul>
            <img src="/assets/img/dex.jpeg" class="card-img-top">
          </div>
          </div>

          <div class="tar1 mt-4 col-lg-4 col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="/assets/img/poke.jpeg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"> </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
              </ul>
              <img src="/assets/img/dex.jpeg" class="card-img-top">
            </div>
            </div>

          </div>

