.ball{
    position: relative;
    right: 10px;
}

.navbar{

    -webkit-box-shadow: 7px 0px 73px 6px rgba(0,0,0,0.49);
    -moz-box-shadow: 7px 0px 73px 6px rgba(0,0,0,0.49);
    box-shadow: 7px 0px 73px 6px rgba(0,0,0,0.49);
}
