

<div class="container  animated bounceInDown">
<div class="card text-center">
    <div class="card-header"><img class="fball" src="/assets/img/ball.png" >
      Lista De Favoritos
      <img class="fball" src="/assets/img/ball.png" >
    </div>
    
            <div class="carpoke" >
              <div class="cuerpopoke">
                    <img src="/assets/img/1.png" class="balll"> </div>
                    <div class="card-body">
                      <p class="namepoke">bulbasaur</p>
                    </div>
                  </div>

                  <div class="carpokedatos" >
                      <img src="/assets/img/1.png" class="">
                      <div class="card-body">
                        <p class="card-text">nombre de pokemon.</p>
                      </div>
                    </div>
                 
    
    <div class="card-footer text-muted">
            <img src="/assets/img/Logo.png" class="footerpoke">
    </div>
  </div>
</div>