

.fball{
    width: 25px;
}
.footerpoke{
    width: 60px;
}



.carpokepc{
    border: solid 3px #000000;
    position: relative;
    left: 68%;
    top: 11px;
    width: 290px;
    border-radius: 99px;
}

.carpokedatos{
    position: relative;
    bottom: 82px;
    left: 10%;
    border: solid 3px #000000;
    width: 270px;
}
/*     cuerpo de lista de favoritos  */
.cuerpopoke{
    position: relative;
    width: 86px;
    height: 10px;
}

.card-body{
    padding-bottom: 0px;
}
.vida{
    position: relative;
    right: 58px;
    top: -10px;
    font-size: 22px;
    color: white;
    height: 22px;
    width: 75px;
    margin-left: 157px;
    left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'VT323', monospace;
}

.eliminar{
    width: 35px;
    height: 15px;
    border: none;
    position: relative;
    bottom: 237px;
    left: 206px;
    padding-left: 13px;
    background: transparent;
    outline: none;
}
.back{
    content:url("/assets/img/backpoke.png");
    border-radius: 99px;
    position: relative;
    bottom: 114px;
    border: solid 3px #000000;
    left: -37px;
    height: 96px;
    width: 325px;

}
.hp{
    position: relative;
    bottom: 177px;
    left: 139px;
}
.namepoke{
    position: relative;
    right: 58px;
    top: -4px;
    font-size: 22px;
    color: white;
    height: 22px;
    font-family: 'VT323', monospace;
}

.balll{
    width: 111px;
    position: relative;
    right: 50px;
    bottom: 16px;
    z-index: 1;
}


/*     lista favoritos responsiva  */
@media screen and (max-width: 1199px){
.carpoke{
    position: relative;
    left: 68%;
}

}

@media screen and (max-width: 991px){
    .carpokepc{
        position: relative;
        width: 280px;
        left: 57%;
        top: 10px
    }
   
    
    }

    @media screen and (min-width: 991px){
        
        .carousel{
            display: none;
            
        }
       
        
        }

    @media screen and (max-width: 767px){
        .carpokepc{
            display: none;
        }
        .carpoke{
            position: relative;
            width: 280px;
            left: 15%;
            top: 10px
        }
        .carousel{
            position: relative;
            height: 120px;
            
            }
            .carousel-inner{
                height: 120px;
            }

            .carpokedatos{
                position: relative;
                bottom: 5px;
                left: 15%;
                border: solid 3px #000000;
                width: 270px;
            }
            .card-favoritos{
                position: relative;
                top: 40px;
                left: 0px;
            }
        
        }

        @media screen and (min-width: 767px){
            
            .carousel{
                display: none;
                
            }
           
            
            }



/*     imagen de pokemon grande   */

.contenedorpoke{
    position: relative;
    width: 86px;
    height: 10px;
}
.bigpoke{
    width: 245px;
    position: relative;
}