.pokedexx{
    z-index: -4;
}
.carta{
    position: absolute;
    top: 130px;
    left: 135px;
    z-index: -3;
}

.listadatos{
    position: absolute;
    left: 870px;

    bottom: 55px;
    font-size: 15px;

}
.imgPoke{
    position: relative;
    top: 50px;
    width: 300px;
    right: 100px;
    z-index: -1;
}