body{
    background: url(/assets/img/fondo.png);
   background-size: cover;
   background-position: center center;
   background-repeat: repeat;
   height: 100vh;
   width: 100%;
}

.card{
    position: relative;
    top: 40px;
    left: 30px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);

border: solid 3px #000000; 
}

.contenedor::-webkit-scrollbar {
	width: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
	background: #364478;
	border-radius: 5px;
}