

<div class="container animated bounceInUp" >
  <div  *ngFor="let datopoke of pokemons; index as i;" class="tar1 mt-4 col-lg-4 col-md-4 ">
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/poke.jpeg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Nombre: {{datopoke.name}}</h5>
        <img (click)="pokemon(datopoke)" type="button" class="pokeimg" data-toggle="modal" data-target="#exampleModalCenter" src="{{datopoke['sprites'].front_default}}">
        <p class="card-text"></p>
        
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Habilidades: {{datopoke.abilities['0'].ability.name}} </li>
        <li class="list-group-item">Tipo: {{datopoke.types['0'].type.name}}</li>
        <li class="list-group-item"></li>
      </ul>
      <button data-toggle="modal" data-target="#exampleModalCenterx" (click)="favoritos(datopoke)" type="button" class="btn"></button>
      <img src="/assets/img/dex.jpeg" class="card-img-top">
    </div>
  </div>
</div>



<app-modalpoke  tabindex="-1" role="dialog"
  [pokemon]="datospoke">
</app-modalpoke>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenterx" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Agregado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        El pokemon a sido agregado a la lista de favoritos
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
